{% extends "base.html" %} {% load static %}

{% block content %}
<!-- SIGN IN
================================================== -->
<div class="view" style="background-image: url('icommons-desktop.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="img-thumbnail" style="background-color: #07294D; color:white;">
                    <h1 class="text-center"> iCommons Sign In </h1>
                    <form>
                        <div class="form-group">
                            <h3>Username</h3>
                            <input type="email" class="form-control" id="exampleInputUsername" aria-describedby="usernameHelp"
                                placeholder="Enter Username">

                        </div>
                        <div class="form-group">
                            <h3>Password</h3>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">

                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Sign In</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}